* {
    font-family: monospace;
}

body {
    border: red 1px solid;
    padding: 0 20px;
    max-width: 1250px;
    margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  list-style: none;    
  padding: 0;
  margin: 0 auto;  
  width: 100%;  
}

.article-li {
    margin: 20px;
    align-items: center;
    max-width: 700px;
}

.article-card-img {
    grid-area: img;
    justify-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-card-title {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  background-image: linear-gradient( rgba(255,0,0,0), rgb(70, 211, 247));
  border-radius: 5px;
}

.article-card-comments {
    grid-area: comments;
    justify-self: left;
    margin-left: 8rem;
}

.article-card-comments:hover {
    background-color: antiquewhite;
    text-decoration: underline;
}

.article-card-votes {
    grid-area: votes;
    justify-self: right;
    margin-right: 8rem;
}

.article-card-votes:hover {
    background-color: antiquewhite;
    text-decoration: underline;
}

.article-card-topic {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
    margin-top: 20px;
}

#article-card-topic-id {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(70, 211, 247, 1);
}

#article-card-topic-id:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    text-decoration: underline;
}

.article-card-author {
    grid-area: author;
}

.article-card-date {
    grid-area: date;
    border: 1px solid black;
}

.article-card {
    padding: 40px;
    max-width: 700px;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 10px;
    grid-template-areas: 
    "img img"
    "img img"
    "img img"
    "votes comments"
    "author date";
    background-color: slategray;
    border-radius: 10px;
}