* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: rgb(48, 68, 74);
    padding: 0 20px;
    max-width: 1250px;
    margin: 0 auto;
}

h1 {
    background-color: aqua;
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px;
    border: slategray 3px solid;
}

.content-section {
    max-width: 800px; 
    background-color: rgb(180, 184, 189);
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

h3 {
    background-color: aqua;
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px;
    border: slategray 3px solid;
}

ul {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  list-style: none;    
  padding: 0;
  margin: 0 auto; 
}

.article-li {
    margin: 20px;
    align-items: center;
    max-width: 700px;
}

.article-card-img {
    grid-area: img;
    justify-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-card-title {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  background-image: linear-gradient( rgba(255,0,0,0), rgb(255, 255, 255));
}

.article-card-comments {
    grid-area: comments;
    justify-self: left;
    margin: 0;
    border: 2px outset rgb(48, 68, 74);
    border-radius: 0 0 5px 0;
    padding: 10px 0;
    width: 98.8%;
}

.article-card-comments:hover {
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.article-card-votes {
    grid-area: votes;
    justify-self: right;
    margin: 0;
    border: 2px outset rgb(48, 68, 74);
    border-radius: 0 0 0 5px;
    padding: 10px 0;
    width: 98.8%;
}

.article-card-votes:hover {
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.article-card-topic {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 10px;
    margin-top: 20px;
}

#article-card-topic-id {
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
}

#article-card-topic-id:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.article-card-author {
    grid-area: author;
    margin-left: 10px;
}

.article-card-date {
    grid-area: date;
    justify-self: right;
    opacity: .5;
    margin-right: 10px;
}

.article-card {
    padding: 40px 40px 0 40px;
    max-width: 700px;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 10px;
    grid-template-areas: 
    "img img"
    "img img"
    "img img"
    "votes comments"
    "author date";
    background-color: slategray;
    border-radius: 10px;
}

.spotlight-comment-card {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 0 10px;
    margin: 5px;
    width: 100%;
}